<h3 style="text-align: center;">Welcome Admin</h3>
<div class="container">
    <ul>
        
            <li>
                <a routerLink="/getitems">
                    <button class="btn btn-primary">All Items</button>
                </a>
            </li><br><br>
        
        
            <li>
                <a routerLink="/additem">
                    <button class="btn btn-danger">Add Item</button>
                </a>
            </li><br><br>
        
            <li>
                <a routerLink="/listcust">
                    <button class="btn btn-success">View All Users</button>
                </a>
            </li><br><br>

            <li>
                <a routerLink="/changepass">
                    <button class="btn btn-warning">Change Password</button>
                </a>
            </li>
    </ul>
</div>
<router-outlet></router-outlet>