<!-- <div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" id="name"
                placeholder="Enter name" class="form-control"
                [(ngModel)]="searchedText">
        </div>
        <a routerLink="/buyitem">
            <button class="btn btn-success">Search</button>
        </a>
    </form>
</div> -->


 <h3 class="text-center">Available Products</h3><br><br>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>NAME</th><th>PRICE(in INR)</th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of items">
                <td>{{i.name}}</td>
                <td>{{i.price}}</td>
                <td>
                    <a routerLink="/buyitem">
                        <button class="btn btn-warning">Buy</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>    
</div> 